<!DOCTYPE html>
<html>
<head>
	<title>Index page</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script  src="js/angular.min.js"></script>
	<script  src="js/script.js"></script>	
	
</head>
	
<body>
	<div class="container">
		<div ng-app="MyApp" ng-controller="MyController">
			<div class="row">
				<div class="col-md-3"><img src="images/logo.jpg" width="100" height="100"> </div>
				<div class="col-md-6 pull-right"> </div>
				
			</div>
		<h3>Testing</h3>
		<section class="row box "  ng-show="show" >
			<div class="col-md-3"><h2  ng-click="myfunc()" >IF</h2></div>
			<div class="col-md-3"><h2><a href="">THIS</a></h2></div>
			<div class="col-md-3"><h2 ng-click="test()">THEN</h2></div>
			<div class="col-md-3"><h2 ng-click="testi()">THAT</h2> </div>
		
		</section>
			
			
		
    </div>
	
	</div>
    
</body>
</html>
</html>